.score_boared {
      width: 300px;
      height: 200px;
      margin: 0 auto;
}

body {
      background-color: rgb(213, 223, 223);
}

#btn {
      width: 300px;
      height: 80px;
      border: 3px solid black;
      background-color: azure;
      text-align: center;
      font-weight: bold;
      margin:0 auto;
      cursor:pointer;
      opacity:0.9;
      user-select: none;
}

#btn:hover {
      opacity:1;
}

#btn.pushed {
      margin-top:36px;
      box-shadow:0 4px 0 #D1483E;
}

#result {
      width: 300px;
      height: 1000px;
      margin: 0 auto;
      text-align: center;
}

#win_or_lose {
      font-size: 50px;
      font-family: 'Courier New', Courier, monospace;
      width: 300px;
      height: 100px;
      text-align: center;
      margin: 0 auto;
}
#result {
      display: flex;
}
#my_result {
      font-size: 50px;
      width: 100px;
      height: 100px;
}
#var {
      font-size: 50px;
      width: 100px;
      height: 100px;
}
#cpu_result {
      font-size: 50px;
      width: 100px;
      height: 100px;
}